<!DOCTYPE html>
<html>

<head>
    <title>User Page</title>
</head>

<body>
    <h1>Welcome, user!</h1>

    <br>

    <h2>Search books</h2>
    <form action="/user/search_books" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author">
        <button type="submit">Submit</button>
    </form>

    <br>
    <h2>View user info</h2>
    <form action="/user/user_info" method="post">
        <select name="username">
          <% for (const user of users) { %>
            <option value="<%= user.username %>"><%= user.username %></option>
          <% } %>
        </select>
        <button type="submit">Submit</button>
      </form>

</body>

</html>