<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
    </head>
    <body>
        <button onclick="location.href='/administrator'">Administrator</button>
        <button onclick="location.href='/operator'">Operator</button>
        <button onclick="location.href='/user'">User</button>
    </body>
</html>
